/* The popup chat - hidden by default */
.chat-popup {
    display: none;
    position: fixed;
    width: 293px;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    max-width: 350px;
    padding: 10px;
    background-color: white;
}

#chat-container {
    max-height: 300px;
    overflow-y: auto;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
}

/* Full-width textarea */
.form-container textarea {
    width: 100%;
    padding: 15px;
    margin-top: 15px;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 120px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

/* Add some hover effects to buttons */
.form-container .btn:hover {
    opacity: 1;
}

.chat-container {
    border: 2px solid #dedede;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.my-mess {
    border-color: #ccc;
    background-color: #e5efff;
}

.chat-container::after {
    content: "";
    clear: both;
    display: table;
}

.chat-container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

.chat-container img.right {
    float: right;
    margin-left: 20px;
    margin-right: 0;
}

.time-right {
    float: right;
    color: #aaa;
}

.time-left {
    float: left;
    color: #999;
}